<div class="contenido">
    <div class="TextoIntroduccion">
        <h2>
            Diseña un CV<br>
            que <span class="blue-text"> Hable por Ti</span>
        </h2>        
        <p>Una herramienta fácil y rápida para crear currículums profesionales y personalizados. Diseñada para ayudarte a destacar en el mercado laboral. 
            Sin necesidad de experiencia previa, podrás generar un CV único en minutos</p>
        <a routerLink="/login">Comenzar</a>
    </div>
    <div class="imagenBox">
        <img src="">
    </div>
</div>