<div class="contenido">
    <div class="TextoIntroduccion">
        <h2>
            Diseña un CV<br>
            que <span class="blue-text"> Hable por Ti</span>
        </h2>        
        <p>Una herramienta fácil y rápida para crear currículums profesionales y personalizados. Diseñada para ayudarte a destacar en el mercado laboral. 
            Sin necesidad de experiencia previa, podrás generar un CV único en minutos</p>
        <a routerLink="/login">Comenzar</a>
    </div>
    <div class="imagenBox">
        <img src="https://firebasestorage.googleapis.com/v0/b/mycvangular.appspot.com/o/Images%2FDise%C3%B1o_sin_t%C3%ADtulo-removebg.png?alt=media&token=c2ae395e-fc4e-48b3-be82-9044ff3a27ff">
    </div>
</div>